<div class="container">
  <ul class="tab">
     <li (click)="onLoginTab()" [class.active]="active === 'login'">Login</li>
     <li (click)="onRegisterTab()" [class.active]="active === 'register'">Register</li>
  </ul>
 
  <div class="content" *ngIf="active === 'login'">
     <input [(ngModel)]="login" type="text" placeholder="Username" required>
     <input [(ngModel)]="password" type="password" placeholder="Password" required>
     <button (click)="onLogin()">Login</button>
  </div>
 
  <div class="content" *ngIf="active === 'register'">
     <input [(ngModel)]="firstName" type="text" placeholder="First Name" required>
     <input [(ngModel)]="lastName" type="text" placeholder="Last Name" required>
     <input [(ngModel)]="login" type="text" placeholder="Username" required>
     <input [(ngModel)]="password" type="password" placeholder="Password" required>
     <button (click)="onRegister()">Register</button>
  </div>
 </div>