<div class="container mt-5 page-size d-flex flex-column">
  <div class="row flex-grow-1">
    <div class="col-sm-4 mb-4" *ngFor="let article of articles">
      <app-article-card [article]="article"></app-article-card>
    </div>    
  </div>
  <div class="row">
    <mat-paginator #paginator 
    [length]="allArticles.length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="pageIndex"
    (page)="changePage($event)">
    </mat-paginator>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <button (click)="navigateToAddArticle()" class="btn btn-primary">Ajouter un article</button>
    </div>
  </div>
</div>